{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | ABOUT US{% endblock %}

{% block body %}
    <div>
        <p>
            Chez BUCKET LIST, on crée des listes de souhait. <br>
            Vous notez, on enregistre !
        </p>
    </div>
{% endblock %}



