{% extends 'base.html.twig' %}

{% block body %}
    <p>
        {{ wish.title }}
    </p>
    <p>
        {{ wish.description }}
        {{ wish.author }}
        {{ wish.categories }}

    </p>
{% endblock %}

